## Preprocessing

In [25]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [26]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df = application_df.drop(['STATUS', 'SPECIAL_CONSIDERATIONS'], axis=1)

In [27]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [28]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [29]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff = 500
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_counts[application_counts < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure replacement was successful
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [30]:
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [31]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [32]:
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts = classification_counts[classification_counts > 1]
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [33]:
# CHoosing a cutoff

classification_counts = application_df['CLASSIFICATION'].value_counts()

# Determine the cutoff dynamically based on the frequency of the sixth most frequent classification
# This assumes the data is sorted in descending order already
if len(classification_counts) > 5:
    cutoff = classification_counts.iloc[5]  # Get the count of the sixth item
else:
    cutoff = classification_counts.iloc[-1]  # Fallback in case there are less than six classifications

# Create a list of classifications to be replaced (those below the cutoff value)
classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [34]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [35]:

# Assume 'IS_SUCCESSFUL' is the target column
# Separate the features (X) from the target (y)
X = application_df.drop('IS_SUCCESSFUL', axis=1)  # Drop the target column to create the feature set
y = application_df['IS_SUCCESSFUL']  # Keep only the target column

# Split the preprocessed data into a training and testing dataset
# Using 75% of the data for training and 25% for testing by default
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Display the sizes of the resulting datasets to confirm the split
print("Training feature set size:", X_train.shape)
print("Testing feature set size:", X_test.shape)
print("Training target set size:", y_train.shape)
print("Testing target set size:", y_test.shape)

Training feature set size: (25724, 41)
Testing feature set size: (8575, 41)
Training target set size: (25724,)
Testing target set size: (8575,)

In [36]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [37]:
input_features = X_train_scaled.shape[1]



# Define the model - deep neural net, changing activation functions
nn3 = tf.keras.models.Sequential()
nn3.add(tf.keras.layers.Dense(units=80, activation='tanh', input_dim=input_features))  # Changed to tanh for the first layer
nn3.add(tf.keras.layers.Dense(units=50, activation='relu'))  # Second layer remains relu
nn3.add(tf.keras.layers.Dense(units=30, activation='relu'))  # Third layer remains relu
nn3.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))  # Output layer


# Check the structure of the model
nn3.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 80)                3360

 dense_5 (Dense)             (None, 50)                4050

 dense_6 (Dense)             (None, 30)                1530

 dense_7 (Dense)             (None, 1)                 31

=================================================================
Total params: 8971 (35.04 KB)
Trainable params: 8971 (35.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [38]:
# Compile the model
nn3.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [39]:
# Train the model
history3 = nn3.fit(X_train_scaled, y_train, epochs=50, batch_size=128, validation_data=(X_test_scaled, y_test))

Epoch 1/50
201/201 [==============================] - 2s 4ms/step - loss: 0.5688 - accuracy: 0.7179 - val_loss: 0.5600 - val_accuracy: 0.7234
Epoch 2/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5535 - accuracy: 0.7294 - val_loss: 0.5562 - val_accuracy: 0.7224
Epoch 3/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5506 - accuracy: 0.7291 - val_loss: 0.5557 - val_accuracy: 0.7291
Epoch 4/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5496 - accuracy: 0.7313 - val_loss: 0.5551 - val_accuracy: 0.7263
Epoch 5/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5474 - accuracy: 0.7320 - val_loss: 0.5541 - val_accuracy: 0.7279
Epoch 6/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5466 - accuracy: 0.7316 - val_loss: 0.5526 - val_accuracy: 0.7284
Epoch 7/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5456 - accuracy: 0.7331 - val_loss: 0.5540 - val_accuracy: 0.7332
Epoch 8/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5455 - accuracy: 0.7339 - val_loss: 0.5517 - val_accuracy: 0.7326
Epoch 9/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5448 - accuracy: 0.7335 - val_loss: 0.5532 - val_accuracy: 0.7292
Epoch 10/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5442 - accuracy: 0.7340 - val_loss: 0.5546 - val_accuracy: 0.7269
Epoch 11/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5439 - accuracy: 0.7333 - val_loss: 0.5527 - val_accuracy: 0.7292
Epoch 12/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5434 - accuracy: 0.7337 - val_loss: 0.5520 - val_accuracy: 0.7258
Epoch 13/50
201/201 [==============================] - 1s 5ms/step - loss: 0.5433 - accuracy: 0.7339 - val_loss: 0.5525 - val_accuracy: 0.7311
Epoch 14/50
201/201 [==============================] - 1s 5ms/step - loss: 0.5430 - accuracy: 0.7339 - val_loss: 0.5525 - val_accuracy: 0.7312
Epoch 15/50
201/201 [==============================] - 1s 5ms/step - loss: 0.5425 - accuracy: 0.7340 - val_loss: 0.5530 - val_accuracy: 0.7298
Epoch 16/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5420 - accuracy: 0.7353 - val_loss: 0.5510 - val_accuracy: 0.7268
Epoch 17/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5424 - accuracy: 0.7345 - val_loss: 0.5513 - val_accuracy: 0.7299
Epoch 18/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5412 - accuracy: 0.7358 - val_loss: 0.5537 - val_accuracy: 0.7318
Epoch 19/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5411 - accuracy: 0.7357 - val_loss: 0.5539 - val_accuracy: 0.7284
Epoch 20/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5415 - accuracy: 0.7345 - val_loss: 0.5521 - val_accuracy: 0.7299
Epoch 21/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5411 - accuracy: 0.7351 - val_loss: 0.5512 - val_accuracy: 0.7306
Epoch 22/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5402 - accuracy: 0.7361 - val_loss: 0.5535 - val_accuracy: 0.7268
Epoch 23/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5404 - accuracy: 0.7347 - val_loss: 0.5516 - val_accuracy: 0.7256
Epoch 24/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5400 - accuracy: 0.7366 - val_loss: 0.5522 - val_accuracy: 0.7277
Epoch 25/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5403 - accuracy: 0.7367 - val_loss: 0.5515 - val_accuracy: 0.7320
Epoch 26/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5398 - accuracy: 0.7371 - val_loss: 0.5527 - val_accuracy: 0.7320
Epoch 27/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5393 - accuracy: 0.7368 - val_loss: 0.5538 - val_accuracy: 0.7294
Epoch 28/50
201/201 [==============================] - 1s 6ms/step - loss: 0.5391 - accuracy: 0.7361 - val_loss: 0.5512 - val_accuracy: 0.7308
Epoch 29/50
201/201 [==============================] - 2s 10ms/step - loss: 0.5391 - accuracy: 0.7370 - val_loss: 0.5509 - val_accuracy: 0.7310
Epoch 30/50
201/201 [==============================] - 2s 12ms/step - loss: 0.5392 - accuracy: 0.7364 - val_loss: 0.5545 - val_accuracy: 0.7257
Epoch 31/50
201/201 [==============================] - 2s 10ms/step - loss: 0.5393 - accuracy: 0.7359 - val_loss: 0.5512 - val_accuracy: 0.7305
Epoch 32/50
201/201 [==============================] - 2s 9ms/step - loss: 0.5391 - accuracy: 0.7364 - val_loss: 0.5528 - val_accuracy: 0.7275
Epoch 33/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5387 - accuracy: 0.7371 - val_loss: 0.5526 - val_accuracy: 0.7291
Epoch 34/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5383 - accuracy: 0.7374 - val_loss: 0.5538 - val_accuracy: 0.7292
Epoch 35/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5384 - accuracy: 0.7374 - val_loss: 0.5545 - val_accuracy: 0.7305
Epoch 36/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5385 - accuracy: 0.7362 - val_loss: 0.5533 - val_accuracy: 0.7277
Epoch 37/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5378 - accuracy: 0.7381 - val_loss: 0.5524 - val_accuracy: 0.7285
Epoch 38/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5381 - accuracy: 0.7378 - val_loss: 0.5523 - val_accuracy: 0.7306
Epoch 39/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5377 - accuracy: 0.7379 - val_loss: 0.5523 - val_accuracy: 0.7301
Epoch 40/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5378 - accuracy: 0.7379 - val_loss: 0.5535 - val_accuracy: 0.7284
Epoch 41/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5377 - accuracy: 0.7377 - val_loss: 0.5526 - val_accuracy: 0.7305
Epoch 42/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5377 - accuracy: 0.7370 - val_loss: 0.5544 - val_accuracy: 0.7308
Epoch 43/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5371 - accuracy: 0.7376 - val_loss: 0.5532 - val_accuracy: 0.7286
Epoch 44/50
201/201 [==============================] - 1s 6ms/step - loss: 0.5375 - accuracy: 0.7379 - val_loss: 0.5534 - val_accuracy: 0.7272
Epoch 45/50
201/201 [==============================] - 1s 6ms/step - loss: 0.5372 - accuracy: 0.7385 - val_loss: 0.5521 - val_accuracy: 0.7294
Epoch 46/50
201/201 [==============================] - 1s 6ms/step - loss: 0.5366 - accuracy: 0.7386 - val_loss: 0.5549 - val_accuracy: 0.7272
Epoch 47/50
201/201 [==============================] - 1s 4ms/step - loss: 0.5371 - accuracy: 0.7382 - val_loss: 0.5519 - val_accuracy: 0.7304
Epoch 48/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5370 - accuracy: 0.7389 - val_loss: 0.5545 - val_accuracy: 0.7289
Epoch 49/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5369 - accuracy: 0.7391 - val_loss: 0.5528 - val_accuracy: 0.7321
Epoch 50/50
201/201 [==============================] - 1s 3ms/step - loss: 0.5368 - accuracy: 0.7385 - val_loss: 0.5536 - val_accuracy: 0.7279

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5536 - accuracy: 0.7279 - 357ms/epoch - 1ms/step
Loss: 0.5535884499549866, Accuracy: 0.7279300093650818

In [41]:
# Save the model to HDF5 file
nn3.save('AlphabetSoupCharity_Optimization.h5')  # The .h5 extension indicates HDF5 format

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(